/* basic reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* center body using Flexbox */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
    
    /* center everything vertically and horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* body takes up the full height of the screen */
    padding: 20px;
}

.division-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* table setup */
.standings-table {
    background-color: #ffffff;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); /* soft shadow for depth */
    border-radius: 8px; 
    overflow: hidden; /* prevents visual glitches */
}

/* header styling */
.standings-table th {
    background-color: #c95555; /*header background */
    color: #ffffff;
    font-weight: bold;
    padding: 16px 12px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
}

/* adds proper paddings */
.standings-table td {
    padding: 14px 12px;
    border-bottom: 1px solid #e9ecef;
}

.standings-table th.team-col, 
.standings-table td.team-col {
    text-align: left;
}

/* align team names */
.standings-table td.team-col {
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap; /* prevents the team name from wrapping to a new line */
}

/* style logos */
.standings-table td.team-col img {
    border-radius: 25%;
    object-fit: cover; /* forces images to fit their space */
    height: 48px;
    width: 48px; 
}